/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.events{
    border: 1px solid;
    padding: 10px 0px 10px 17px;
    background: #CCC;
    border-radius: 5px;
    min-height: 232px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 1px 0px #000;
 }

 .events:hover{
 	-ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05,1.05); /* Standard syntax */
    color: #FFF;
    background: #000;
    box-shadow: 3px 3px 1px 0px #CCC;
 }